<section class="bg-primary" id="about">
    <div class="container">
        <!--<div class="row">-->
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--<h2 class="section-heading">Cynthia is...</h2> -->
                <hr class="light">
                <p class="text-faded">
                    Experienced Real Estate Data Analyst with a history of working in the intersection CRE, Data, and Tech.
                    Specialization: Site Selection, Data Analytics, Data Visualization, Architectural Design, Spatial Planner
                    Skill: Rhino, Revit, SQL, Alteryx, Excel, Workflow Management,~~
                </p>
                <br></br>
                <a href="#aside" class="btn btn-primary btn-xl page-scroll">View Portfolio</a>
            </div>
        </div>
    </div>
</section>
